:root{
    --background-color: #00209e;
    --text-color: #ffffff;
    --hover-text: #A9A9A9;
    --rgbaBlue: rgba(0,32,158, 0.5);
    --rgbaLightBlue: rgba(0,32,158, 0.2);
    --rgbaBlack: rgba(0,0,0,0.1);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

header{
    top: 0;
    left: 0;
    height: 12.5vh;
    width: 100%;
    z-index: 999;
    background: var(--background-color);
}

header .topPage i{
    position: fixed;
    bottom: 7.5vh;
    right: 7.5vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    color: var(--background-color);
    transition: 0.5s ease;
}

header .topPage i:hover{
    transform: scale(150%);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 300px;
}

.nav .list{
    display: flex;
    list-style: none;
}

.nav .list .list-item{
    text-decoration: none;
    padding: 0 20px;
}

.nav .list .list-item .list-link{
    text-decoration: none;
    font-size: 20px;
    transition: 0.5 ease;
    color: var(--text-color);
}

.nav .list .list-item .list-link:hover{
    color: var(--hover-text);
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--rgbaBlack);
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.presentation .initial-img{
    width: 800px;
    height: 500px;
    border-radius: 100px;
    margin-right: 50px;
    user-select: none;
    -webkit-user-drag: none;
}

.presentation .description{
    width: 680px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    color: var(--background-color);
}

.about{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 150px;
}

.about .house, .region{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about h1{
    position: relative;
    font-size: 65px;
    color: var(--background-color);
    margin-bottom: 35px;
    text-align: left;
}

.region, .house{
    background-color: var(--rgbaLightBlue);
    padding: 20px;
    border-color: var(--rgbaBlue);
    border-style: solid;
    border-radius: 50px;
}

.about ul{
    list-style: none;
}

.about li{
    font-size: 25px;
    color: var(--background-color);
    margin-bottom: 10px;
}

.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wrapper{
    max-width: 1200px;
}

.wrapper .carousel{
    white-space: nowrap;
    overflow: hidden;
    font-size: 0px;
    scroll-behavior: smooth;
}

.carousel img{
    height: 600px;
    object-fit: cover;
    object-position: center;
    width: 1200px;
    user-select: none;
    -webkit-user-drag: none;
}

.wrapper i{
    text-align: center;
    border-radius: 25%;
    height: 45px;
    width: 45px;
    position: absolute;
    top: 270vh;
    z-index: 100;
    font-size: 45px;
    cursor: pointer;
    color: var(--hover-text);
    background-color: rgba(0,32,158, 0.3);
    transition: 0.3s ease;
}

.wrapper i:hover{
    transform: scale(115%);
    background-color: rgba(0,32,158, 0.7);
}

.wrapper i:first-child{
    left: 40vh;
}

.wrapper i:last-child{
    right: 40vh;
}

.gallery h1{
    font-size: 50px;
    margin-bottom: 100px;
    color: var(--background-color);
}

.reservations{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 100px;
    gap: 100px;
}

.price-table{
    width: 20vw;
}

.p1, .p2, .p3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

.reservations h1{
    color: var(--background-color);
    font-size: 45px;
}

.reservations h2{
    color: var(--background-color);
    padding: 15px;
    font-size: 20px;
    transition: 0.5 ease;
}

.conditions{
    width: 55vw;
}

.conditions h1{
    padding: 35px 0;
}

.regulamentation{
    font-size: 25px;
    color: var(--background-color);
}

.contacts{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.mapouter {
    text-align: right;
    height: 320px;
    width: 460px;
}

.gmap_canvas {
    overflow: hidden;
    background: none;
    height: 320px;
    width: 460px;
}

.streetAndNumbers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.constactUs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--hover-text);
    height: 5vh;
    width: 100%;
}

footer p{
    font-size: 20px;
}